[submodule "app1"]
	path = app1
	url = https://github.com/DAHU123/app1.git
[submodule "app2"]
	path = app2
	url = https://github.com/DAHU123/app2.git
[submodule "layout"]
	path = layout
	url = https://github.com/DAHU123/layout.git
